# Ignore all files and subdirectories by default
/*

# Unignore .gitignore so it gets committed to GitHub
!.gitignore

# Allow Git into Assets, but ignore all other contents inside Assets
!/Assets/
/Assets/*

# Allow Assets/Scripts, its subfiles, and its folder meta file
!/Assets/Scripts/
!/Assets/Scripts/**
!/Assets/Scripts.meta